<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Home</title>
</head>
<body class="color-white">
    {{>navbar}}
    <div class="col-md-12 row mt-4">
        <section>Contact Us</section>
    </div>
</body>
</html>