<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Home</title>
</head>
<body>
    {{>navbar}}
    <div class="login-register">
        Welcome to home page!
    </div>
</body>
</html>