<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Successfuly registered</title>
</head>
<body>
    {{>navbar}}
    <div class="login-register">
        Registration Successful!
    </div>
</body>
</html>