<footer class="p-1 footer-style">
    <nav class="navbar navbar-expand-lg navbar-light footer-style p-0">
        <div class="row navbar-collapse mr-0 ml-0" id="navbarNav">
            <p class="navbar-nav mr-auto">
                Developed by: Ayush
            </p>
            <ul class="navbar-nav flex-row ml-auto footer-style">
                <li class="nav-item">
                    <a class="nav-link footer-style" href="/logout">Logout</a>
                </li>
                &nbsp;
                <li class="nav-item">
                    <a class="nav-link footer-style" href="/logoutAllDevices">Logout All</a>
                </li>
            </ul>
        </div>
        </nav>
</footer>