:root {
    --theme: #663399;
    --white: #ffffff;
}
html{
    height: 100%;
}

body{
    background-color: var(--theme);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-heading{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.image-carousel{
    width: fit-content;
    height: fit-content;
    max-height: 350px;
}

.login-register{
    border: 1px solid var(--theme);
    padding: 10px;
    margin: 20px 20% 20px 20%;;
    background-color: var(--white);
}

.color-white{
    color: var(--white);
}

footer{
    border: 1px solid var(--theme);
    padding: 10px;
    margin-top: auto;
    background-color: var(--white);
}

.footer-style{
    background-color: var(--theme);
    color: white !important;
}

.header-style{
    background-color: var(--theme);
    color: white !important;
}